html, body {
    height: 100%;
}

input[type=text], input[type=password] {
    border-bottom: 1px solid #4e342e !important;
}

.vertical-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection {
    margin: 0 !important;
    height: 100%;
}

.input-field label {
    color: #4e342e !important;
}

.input-field input:focus + label {
    color: #4e342e !important;
}

.input-field input:focus {
    border-bottom: 1px solid #4e342e !important;
    box-shadow: 0 1px 0 0 #4e342e !important;
}

.input-field input.valid {
    border-bottom: 1px solid #4e342e !important;
    box-shadow: 0 1px 0 0 #4e342e !important;
}

.input-field input.invalid {
    border-bottom: 1px solid #4e342e !important;
    box-shadow: 0 1px 0 0 #4e342e !important;
}

.input-field .prefix.active {
    color: #4e342e !important;
}

.input-field textarea:focus + label {
    color: #4e342e !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #4e342e !important;
    box-shadow: 0 1px 0 0 #4e342e !important
}

#messages {
    margin: 0;
    padding: 5px 0;
    background-color: #4e342e !important;
}
