html, body {
    height: 100%;
}

.input-field label {
    color: #546e7a !important;
}

.input-field input[type=text]:focus + label {
    color: #546e7a !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 #546e7a !important;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 #546e7a !important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 #546e7a !important;
}

.input-field .prefix.active {
    color: #546e7a !important;
}

.input-field textarea:focus + label {
    color: #546e7a !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #546e7a !important;
    box-shadow: 0 1px 0 0 #546e7a !important
}

#messages {
    margin: 0;
    padding: 5px 0;
    background-color: #546e7a !important;
}

