#page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    padding: 0 20px;
    flex: 0 1 auto;
    height: auto;
}

#content {
    flex: 1 1 auto;
    display: flex;
}

#chat {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    box-sizing: border-box;
    border-left: 10px solid #546e7a;
}

#chats {
    padding: 20px;
    flex: 1 1 auto;
    overflow: scroll;
    max-height: 100%;
}

#chat-input-field > label {
    flex: 0 1 auto;
    position: relative;
}

#chat > .input-field {
    margin: 20px;
}

#forum {
    flex: 0 0 60%;
    box-sizing: border-box;
}

#new-post-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
