<!DOCTYPE html>

{% macro color(type) -%}
    {% if type == 'primary' %}
        brown darken-3
    {% endif %}
    {% if type == 'secondary' %}
        orange lighten-1
    {% endif %}
{%- endmacro %}

{% macro text_color(type) -%}
    {% if type == 'primary' %}
        brown-text text-darken-3
    {% endif %}
    {% if type == 'secondary' %}
        orange-text text-lighten-1
    {% endif %}
{%- endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pancake Post</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

    {% block css %}
    {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="messages">
            <div class="container center">
                {% for message in messages %}
                    <div class="{{ text_color('secondary') }}">{{ message }}</div>
                {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block js %}
{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50810949-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50810949-13');
</script>
</body>
</html>
