<!DOCTYPE html>

{% macro color(type) -%}
    {% if type == 'primary' %}
        blue-grey darken-1
    {% endif %}
    {% if type == 'secondary' %}
        teal lighten-4
    {% endif %}
{%- endmacro %}

{% macro text_color(type) -%}
    {% if type == 'primary' %}
        blue-grey-text text-darken-1
    {% endif %}
    {% if type == 'secondary' %}
        teal-text text-lighten-4
    {% endif %}
{%- endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Forum</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    {% block css %}
    {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>