<!DOCTYPE html>

{% macro color(type) -%}
    {% if type == 'primary' %}
        blue-grey darken-1
    {% endif %}
    {% if type == 'secondary' %}
        teal lighten-4
    {% endif %}
{%- endmacro %}

{% macro text_color(type) -%}
    {% if type == 'primary' %}
        blue-grey-text text-darken-1
    {% endif %}
    {% if type == 'secondary' %}
        teal-text text-lighten-4
    {% endif %}
{%- endmacro %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pancake Post</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

    {% block css %}
    {% endblock %}
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul id="messages">
            <div class="container">
                {% for message in messages %}
                    <div class="{{ text_color('secondary') }}">{{ message }}</div>
                {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
