{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <div id="header" class="center">
        <h3>Hello {{ username }}</h3>
        <a href="{{ url_for('change') }}" class="btn {{ color('primary') }}">Change Username</a>
    </div>

    <div id="content">
        <div id="forum">
            Forum goes here...
        </div>
        <div id="chat">
            <div id="messages">
                <div><b>Messages Go</b>: Here</div>
            </div>
            <div class="input-field">
                <label for="message-input">Chat</label>
                <input type="text" name="message-input" id="message-input">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
