{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <div id="page">
        <nav id="header" class="{{ color('primary') }}">
            <h5 class="brand-logo">Pancake Post - {{ username }}</h5>
            <div class="right">
                <a href="{{ url_for('change') }}" class="btn {{ color('secondary') }} {{ text_color('primary') }}">Logout</a>
            </div>
        </nav>
        <div id="content">
            <div id="forum">
                <div class="collection">
                    {% if posts %}
                        {% for post in posts %}
                            <a class="collection-item">
                                <b>{{ post.title }}</b><br>
                                {{ post.body }}<br>
                                By: {{ post.owner_name }}<br>
                                Created: <span id="created-at-{{ loop.index }}"></span>
                            </a>
                            <script>
                                let time = '{{ post.created_at.strftime('%x %X') }}';
                                let offset = new Date().getTimezoneOffset();
                                let client_time = time + offset;
                                document.getElementById('created-at-{{ loop.index }}').value = client_time`;
                            </script>
                        {% endfor %}
                    {% else %}
                        <div class="center vertical-center {{ text_color('primary') }}">
                            <img src="{{ url_for('static', filename='images/pancakes.png') }}" width="150px" alt="Pancakes"><br>
                            No Forum Posts<br>On This Website
                        </div>
                    {% endif %}
                </div>
                <a href="#new-post-modal" class="btn-floating btn-large waves-effect waves-light modal-trigger {{ color('secondary') }}" id="new-post-button"><i class="material-icons">add</i></a>
            </div>
            <div id="chat">
                <div id="chats">
                    <div><b>You are connected to</b> {{ domain }}.</div>
                </div>
                <div class="input-field" id="chat-input-field">
                    <label for="chat-input">Chat</label>
                    <input name="chat-input" id="chat-input" data-length="120">
                </div>
            </div>
        </div>

        <div id="new-post-modal" class="modal">
            <form action="{{ url_for('post') }}" method="POST">
                <div class="modal-content">
                    <h3>Submit a Forum Post</h3>
                    <div class="input-field">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" required>
                    </div>
                    <div class="input-field">
                        <textarea id="body" name="body" class="materialize-textarea"></textarea>
                        <label for="body">Body</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect btn-flat">Cancel</a>
                    <input type="submit" class="modal-close waves-effect btn-flat">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
{% endblock %}
