{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="vertical-center">
        <div class="container center">
            <img src="{{ url_for('static', filename='images/pancakes.png') }}" width="150px" alt="Pancakes">
            <h2 id="title">Pancake Post</h2>
            <form action="{{ url_for('index') }}" method="POST">
                <div class="card {{ color('secondary') }}" id="login-form">
                    <div class="card-content">
                        <div class="input-field">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" required data-length="25" maxlength="25">
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required data-length="100" maxlength="100">
                        </div>
                        <input type="submit" class="btn {{ color('primary') }} {{ text_color('secondary') }}" name="action" value="Login">
                        <input type="submit" class="btn {{ color('primary') }} {{ text_color('secondary') }}" name="action" value="Create Account">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
{% endblock %}