<h4>{{ post.title }}</h4>
{{ post.body }}
<hr>
<b>Comments:</b><br>
{% for comment in post.comments %}
    <b>{{ comment.owner_name }}</b>: {{ comment.body }}<br>
{% endfor %}
<form action="{{ url_for('comment') }}" method="POST">
    <input class="hide" name="post_id" value="{{ post.id }}">
    <div class="input-field" id="comment-input-field">
        <label for="comment-input">Add Comment</label>
        <input type="text" name="body" id="comment-input" data-length="250" maxlength="250">
    </div>
    <input type="submit" class="btn btn-large brown darken-3" value="Post Comment">
</form>
